body {
    background-image: url("Assets/background-img.jpg");
    background-color: aliceblue;
}

.index-title {
    margin-left: 35px;
    margin-bottom: 10px;
}

aside {
    width: 65%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    background-color: lightgray;
}

.aside-titulo {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.aside-link {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.card {
    margin-left: 18px;
    margin-bottom: 10px;
}

.card-img-top {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-left: 28px;
    margin-top: 10px;
}

.nav-link {
    padding-top: 30px;
}

.d-flex {
    padding-top: 20px;
}

#logo {
    height: 50px;
    display: flex;
    margin: auto;
}

#size-slide {
    height: 450px;
    width: 400px;
}

.carousel {
    width: 600px;
    display: flex;
    margin: auto;
}

.carousel-caption {
    background-color: #212529a8;
}

#ca-margenes {
    margin-top: 50px;
}

footer {
    margin-top: 50px;
}

#lg-margenes {
    margin-top: 200px;
}

#lg-border {
    background-color: aliceblue;
}

form {
    padding-top: 10px;
    padding-bottom: 10px;
}

#art-margenes {
    margin-top: 50px;
    max-width: 730px;
    width: 100%;
}

.post-categoria {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    color: #007aff;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 20px;
    padding-bottom: 12px;
}

.post-fecha {
    color: #515253;
    font-family: Martel, serif;
    font-size: 16px;
    line-height: 14px;
    margin-bottom: 20px;
}

.post-titulo {
    font-size: 33px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 20px;
}

.autores {
    color: #444;
    font-size: 14px;
    letter-spacing: 0;
    margin-bottom: 20px;
    line-height: 20px;
}

.post-img {
    width: 100%;
}

.post-img-credits {
    align-items: center;
    font-family: Martel, serif;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    display: flex;
    font-size: 17px;
    justify-content: space-between;
    line-height: 13px;
    margin-bottom: 20px;
    padding: 18px 0;
}

.art-p1 {
    font-weight: bolder;
    font-size: 18px;
}

.art {
    font-size: 18px;
}

.img-margin {
    margin-bottom: 30px;
}